---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkeinIcon from '../components/icons/Linkedin.astro';
import GithubIcon from '../components/icons/Github.astro';
import MailIcon from '../components/icons/Mail.astro';

import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import BriefcaseIcon from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';




---

<Layout title="Porfolio de Cecilia - Desarrollador y Programador Web"
		description="Contrata a Cecilia, una desarrolladora web full stack con experiencia en Laravel.">
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<img class="rounded-full size-12 mb-4"
			src="/public/foto_perfil_actualizado.jpeg" alt="my_foto">
			<h1 class="text-white text-3xl md:text-4xl 
						lg:text-5xl font-bold flex  
						flex-row gap-x-4 pb-6 lg:pb-10
						">
				Hey, soy Cecilia <a 
				href="https://www.linkedin.com/in/cecilia-garcia-743984160/"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center">
				<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
			<span>2 años de experiencia. Web developer radicada en</span><span class="text-blue-200"> Corrientes,Argentina. </span><span> Especializada en desarrollo Full stack con el framework Laravel.</span>  </h2>
			
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/cecilia-garcia-743984160/">
					<LinkeinIcon class="size-4 md:size-6"/>
					LinkedIn
				</SocialPill>

				<SocialPill href="https://github.com/CeciliaGarcia15">
					<GithubIcon class="size-4 md:size-6"/>
					GitHub
				</SocialPill>

				<SocialPill href="mailto:cecilia1551998@gmail.com">
					<MailIcon class="size-4 md:size-6"/>
					cecilia1551998@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
			
		<SectionContainer id="experiencia">	
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefcaseIcon class="size-7"/>
				Experiencia laboral
			</h2>
			<Experience/>
		</SectionContainer>

		<SectionContainer id="proyectos">	
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7"/>
				Proyectos
			</h2>
			<Projects/>
		</SectionContainer>

	</main>

</Layout>

