---
import ExperienceItem from "./ExperienceItem.astro";

const experiences = [
    {
        date: 'Junio 2022 - Actualidad',
        title: 'Desarrolladora junior en Laravel - Codex-sa',
        description: 'Colaboro en el creaci칩n y desarrollo de aplicaciones web enfocadas en la optimizaci칩n de procesos municipales utilizando Laravel.',
        link: '#'
    },
    {
        date: 'Abril 2024 - Actualidad',
        title: 'Frontend Developer con Astro y Tailwind - Freelance',
        description: 'Desarrollo Ecommerce  est치ticas y din치micas utilizando Astro y Tailwind CSS.',
        link: '#'
    }
];

---
<ol class="relative border-s border-gray-200 ml-3">                  
    {
        experiences.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
    
</ol>

